body {
    background: url("file:///Users/Laura/Documents/Fall Semester 2016/ART 107/alterego/Images/whitewaves.jpg") repeat; 
}

h1 {
    border-style: solid;
    border-width: 5px;
}

p {
	padding: 30px 30px 30px 30px;
	font-family: Futura, "Trebuchet MS", Arial, sans-serif;
	size: 110%;
}



ul {
    list-style-type: circle;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #b3b3cc;
}

li {
    display: inline;
    text-align: center;
    padding: 12px;
    text-decoration: none;
    float: left;
}

a {
    display: block;
    font-size: 130%;
    }
    
a:link {
	color: pink;
	font-size: 130%;
}

a:visited {
	color:pink;
	font-size: 130%;
	}

a:hover {
	color: lightblue;
	font-size: 130%
}
    
nav {
	text-align: center;
	font-size: 130%;
	font-family: Futura, "Trebuchet MS", Arial, sans-serif;
	color: pink;
	}
	
	
img {
	padding-bottom: 60px;
	padding-top: 30px;
	padding-left:20px;
	padding-right:20px;
	}
	
    




